.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background-image: conic-gradient(from 36deg at 50%, #a100ffff, #119cfdff);
}

.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  max-width: 500px;
  height: auto;
  padding: 15px;
  
  background-color: rgba(255, 255, 255, .35);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  backdrop-filter: blur(3px);
}

.loginBox > h1 {
  color: #fff;
  font-size: 2em;
  margin: 15px 0;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 10px 0;
}

.field > * {
  margin: 0 5px;
}

.field > input {
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: white;
  color: rgba(0, 0, 0, .7);
  outline: none;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 1em;
  width: 200px;
}

.field > input::placeholder {
  font-size: 0.85em;
}

.submitButton {
  margin: 10px 0;
  border: 3px solid #fff;
  border-radius: 20px;
  background-color: #5200FF;
  color: #fff;
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color 0.2s linear, color 0.2s linear;
}

.submitButton:hover {
  background-color: #fff;
  color: #5200FF;
}

.submitButton > h2 {
  font-size: 1.25em;
}

.bottomText {
  margin: 10px 0;
  color: rgba(0, 0, 0, .75);
  font-size: 0.55em;
}

.bottomText > a,
.bottomText > a:visited {
  color: #5200FF;
  text-decoration: none;
}

.bottomText > a:active
.bottomText > a:hover {
  text-decoration: underline;
}