.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    
    bottom: 0;
    left: 0;
    top: 99%;
    width: 100%;
    padding: 0 10%;
    
    background-color: #F8F8FC;
    border-top: 1px solid #000;
    border-radius: 25px 25px 0 0;
    box-shadow: none;
    opacity: 0;
    z-index: 5;
    transition: top 0.5s ease, opacity 0.5s ease, box-shadow 1s ease;
}

.container.in.visible {
   top: 3%;
   opacity: 1;
   box-shadow: 0px 0px 100px 100px rgba(66, 68, 90, 0.2);
}

.background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    z-index: 4;
    transition: opacity 0.5s ease;
}

.background.in.visible {
    opacity: 0.6;
 }

.controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    width: 100%;
    margin: 20px 0;
}

.controls > h3 {
    text-align: center;
    cursor: pointer;
}

.cancelContainer,
.okContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: #45B3E7;
    cursor: pointer;
}
.cancelContainer {
    justify-content: flex-start;
}

.okContainer {
    justify-content: flex-end;
}

.listPreview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    padding: 20px 0;
    margin: 20px 0;

    background-color: #fff;
    border-radius: 20px;
}

.listIcon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 140px;
    height: 140px;
    margin: 10px 0;
    border-radius: 50%;
}

.listName {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    width: 80%;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 10px;

    background-color: #E3E3E8;
    color: #909096;
}

.listName > input {
    width: 100%;

    border: none;
    background-color: #E3E3E8;
    outline: none;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
}

.listName > input:focus::placeholder {
    color: transparent;
}

.colorSelect {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;

    width: 100%;
    padding: 20px 20px;
    margin: 0px 0;

    background-color: #fff;
    border-radius: 20px;
}

.colorOption{
    margin: 4px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    
    border-width: 0;
    border-style: solid;
    border-color: #000;
    border-radius: 50%;
}

.iconSelect {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;

    width: 100%;
    padding: 20px 20px;
    margin: 20px 0;

    background-color: #fff;
    border-radius: 20px;
}

.iconCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 4px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background-color: #909096;
    border-width: 0;
    border-style: solid;
    border-color: #000;
    border-radius: 50%;
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 600px;
        bottom: auto;
        left: 50%;
        top: 99%;
        transform: translate(-50%, -50%);
        padding: 20px 80px 50px 80px;
        
        background-color: #F8F8FC;
        border: 1px solid #000;
        border-radius: 25px;
        box-shadow: none;
        opacity: 0;
        transition: top 0.5s ease, opacity 0.5s ease;
    }
    
    .container.in.visible {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    .container > div > h3 {
        font-size: 1rem;
    }

    .container > div > div {
        font-size: 0.75rem;
    }

    .listPreview {
        width: 100%;
        padding: 10px 0;
        margin: 10px 0;
    }

    .listIcon {
        width: 70px;
        height: 70px;
        margin: 5px 0;
    }

    .listName {
        width: 70%;
        margin: 10px 0;
        padding: 7.5px 15px;
    }
    
    .listName > input {
        font-size: 1rem;
        text-decoration: none;
    }
    
    .listName > input:focus::placeholder {
        color: transparent;
    }

    .colorSelect {
        padding: 10px 20px;
    }

    .iconSelect {
        padding: 10px 20px;
        margin: 10px 0;
    }
}