.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    
    bottom: 0;
    top: 99%;
    width: 100%;
    padding: 0 10%;
    
    background-color: #F8F8FC;
    border-top: 1px solid #000;
    border-radius: 25px 25px 0 0;
    opacity: 0;
    z-index: 2;
    transition: all 0.5s ease;
}

.container.in.visible {
   top: 3%;
   opacity: 1;
}

.controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    width: 100%;
    margin: 20px 0;
}

.controls > h3 {
    text-align: center;
}

.controls > div {
    color: #45B3E7;
}

.controls > div:first-child {
    text-align: start;
}

.controls > div:last-child {
    text-align: end;
}

.listPreview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    padding: 20px 0;
    margin: 20px 0;

    background-color: #fff;
    border-radius: 20px;
}

.listIcon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 140px;
    height: 140px;
    margin: 10px 0;
    border-radius: 50%;
}

.listName {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    width: 80%;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 10px;

    background-color: #E3E3E8;
    color: #909096;
}

.listName > input {
    width: 100%;

    border: none;
    background-color: #E3E3E8;
    outline: none;
    text-align: center;
    font-size: 2em;
}

.listName > input:focus::placeholder {
    color: transparent;
}